{{template "base" .}} {{define "title"}}About{{end}} {{define "body"}}

<h2><a href="#"># </a>About</h2>
<p>Goro is yet another pomodoro tracker that tries to gamify the process.</p>
<p>Gamified Elements are:</p>
<ul class="nes-list is-disc">
  <li>Progression through levels</li>
  <li>Unlockable sounds</li>
  <li>Daily Goals</li>
  <li>Leaderboard</li>
</ul>
<br>
<h2><a href="#usage"># </a>Usage</h2>
<p>
  Just start a new pomodoro, type in a new task you want to work on and start
  the pomodoro.
  You can optionally get some more insight into your daily habits by looking at the stats.
</p>
{{end}}
