{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Alexander Brese" />
    <meta name="description" content="Private gamified pomodoro tracker" />
    <title>{{template "title" .}} - Goro</title>
    <link rel="manifest" href="/static/js/manifest.json" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://unpkg.com/nes.css/css/nes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/static/css/main.css"
      rel="stylesheet"
      type="text/css"
      type="text/css"
    />

    <link href="/static/img/favicon.ico" rel="shortcut icon" />
  </head>

  <body>
    <div id="wrapper">
      {{template "header" .}}
      <main>{{template "body" .}}</main>
      {{template "footer" .}} {{template "scrollUp"}}
    </div>
    <datalist id="autocompletion"></datalist>
    <script src="/static/js/main.js" type="module"></script>
    <script src="/static/js/vendor/localforage-1.9.0.js"></script>
  </body>
</html>
{{end}}
