{{define "session"}}
    {{with .User.LatestSession}}
        {{with $pomodoros := .Pomodoros}}
            {{with $steps := steps 4 (len $pomodoros)}}
                {{range $step, $element := stepRange $steps}}
                    {{with $pomodoroSlice := slicePomodoros $steps $step $pomodoros}}
                        <section class="nes-container">
                            {{range $index, $element := $pomodoroSlice}}
                                {{template "pomodoro" $element}}
                            {{end}}
                        </section>
                        {{if and (eq (len $pomodoroSlice) 4) (lt $step $steps)}}
                            {{template "continue"}}
                        {{end}}
                    {{end}}
                {{end}}
            {{end}}
        {{end}}
    {{end}}
{{end}}