.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80rem;
}
.notFound--life {
   display: flex;
   margin-top: 2rem;
}

.notFound--title {
    margin-bottom: 0;
}

.notFound--bcrikko {
    margin-top: 2rem;
}