header {
    z-index: 9;
    border-bottom: 4px solid #D3D3D3;
    background-color: white;
    font-size: 0.6rem;
}

header.is-dark {
    color: white;
    background-color: #212529;
    border-bottom: 4px solid white;
}

.header-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    transition: all 0.2s ease;
}