@import 'header.css';
@import 'header_title.css';
@import 'navigation.css';
@import 'footer.css';
@import 'messages.css';
@import 'overwrite_nes.css';
@import 'settings.css';
@import '404.css';
@import 'scroll_up.css';
@import 'quote.css';
@import 'animation.css';

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

body.is-dark {
    color: white;
    background-color: #212529;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

.margin-x-right-normal {
    margin-right: 1rem;
}

.margin-y-top-normal {
    margin-top: 1rem;
}

.margin-y-top-large {
    margin-top: 2rem;
}

.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

.hidden {
    display: none !important;
}